@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 10pt;
}

#divPage{
    background-color: #EEE;
    margin: 0 auto;
    padding: 15px;
    width: auto;
}

.button {
    width: 135px;
}

.labels{
    width: 60px;
}

.textBoxes{
    width: 440px;
}


.smallSizeColumn{
    min-width: 125px;
    max-width: 125px;
}

.mediumSizeColumn{
    min-width: 175px;
    max-width: 175px;
}

.largeSizeColumn{
    min-width: 300px;
    max-width: 300px;
}

.menuBar{
    margin-bottom: 20px;
}